<h3><span jhiTranslate="ticketsApp.event.cart">Option</span></h3>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th><span jhiTranslate="ticketsApp.event.option">Option</span></th>
            <th><span jhiTranslate="ticketsApp.event.categoryId">ID</span></th>
            <th><span jhiTranslate="ticketsApp.event.name">Name</span></th>
            <th><span jhiTranslate="ticketsApp.event.eventDate">Event Date</span></th>
            <th><span jhiTranslate="ticketsApp.event.eventAddress">Event Address</span></th>
            <th><span jhiTranslate="ticketsApp.event.amountOfTickets">Amount Of Tickets</span></th>
            <th><span jhiTranslate="ticketsApp.event.quantity">Quantiy</span></th>
            <th><span jhiTranslate="ticketsApp.event.subTotal">Sub</span></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of items">
            <td align="center">
                <a (click)="remove(item.event.id)">X</a>
            </td>
            <td>{{item.event.categoryId.name}}</td>
            <td>{{item.event.name}}</td>
            <td>{{item.event.eventDate | date:'medium'}}</td>
            <td>{{item.event.eventAddress}}</td>
            <td>{{item.event.amountOfTickets}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.event.price}}</td>
        </tr>
        <tr>
            <td colspan="6" align="right">Total</td>
            <td>{{total}}</td>
        </tr>

    </table>
    <button class="right" type="submit"
            [routerLink]="['/submit']"
            class="btn btn-info">
        <fa-icon [icon]="'arrow-right'"></fa-icon>&nbsp;<span jhiTranslate="ticketsApp.event.submit"> Submit</span>
    </button>
</div>
