<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="order">
            <h2><span jhiTranslate="ticketsApp.order.detail.title">Order</span> {{order.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ticketsApp.order.clientId">ClientId</span></dt>
                <dd>
                    <span>{{order.clientId.login}}</span>
                </dd>
                <dt><span jhiTranslate="ticketsApp.order.orderDate">Order Date</span></dt>
                <dd>
                    <span>{{order.orderDate}}</span>
                </dd>
                <dt><span jhiTranslate="ticketsApp.order.isPaid">Is Paid</span></dt>
                <dd>
                    <span>{{order.isPaid}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order', order.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
