<div class="row justify-content-center">
    <div class="col-sm-4">
        <div *ngIf="event">
            <h2><span jhiTranslate="ticketsApp.event.detail.title">Event</span> {{event.name}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <br>
            <dl class="row-md jh-entity-details">
                <dd>
                    <img  src="{{path}}" alt="Event image">
                </dd>
                <dt><span jhiTranslate="ticketsApp.event.categoryId">CategoryId</span></dt>
                <dd>
                    <span>{{event.categoryId.name}}</span>
                </dd>
                <dt><span jhiTranslate="ticketsApp.event.name">Name</span></dt>
                <dd>
                    <span>{{event.name}}</span>
                </dd>
                <dt><span jhiTranslate="ticketsApp.event.eventDate">Event Date</span></dt>
                <dd>
                    <span>{{event.eventDate| date:'longDate'}}</span>
                </dd>
                <dt><span jhiTranslate="ticketsApp.event.eventAddress">Event Address</span></dt>
                <dd>
                    <span>{{event.eventAddress}}</span>
                </dd>
                <dt><span jhiTranslate="ticketsApp.event.description">Description</span></dt>
                <dd>
                    <span>{{event.description}}</span>
                </dd>
            </dl>

            <hr>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"
                    [routerLink]="['/event', event.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>

        </div>
    </div>
    <div class="col-sm-4">
        <div *ngIf="event">
            <h2 style="color:white">EVENT</h2>
            <hr>
            <br>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ticketsApp.event.price">Cena</span></dt>
                <dd>
                    <h5 style="color: red;"><b>{{event.price}} zł</b></h5>
                </dd>
                <dt><span jhiTranslate="ticketsApp.event.amountOfTickets">Amount Of Tickets</span></dt>
                <dd>
                    <span><b>{{event.amountOfTickets}}</b></span>
                </dd>
            </dl>
            <td>
                <a [routerLink]="['/shopping-cart', { id:event.id }]" style="color: red"><span jhiTranslate="ticketsApp.event.buy"></i><b>Buy now</b></span></a>
            </td>

        </div>
    </div>
</div>
