<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ticket">
            <h2><span jhiTranslate="ticketsApp.ticket.detail.title">Ticket</span> {{ticket.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ticketsApp.ticket.price">Price</span></dt>
                <dd>
                    <span>{{ticket.price}}</span>
                </dd>
                <dt><span jhiTranslate="ticketsApp.ticket.discount">Discount</span></dt>
                <dd>
                    <span>{{ticket.discount}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ticket', ticket.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
