<div>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="orders">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="global.field.id">ID</span></th>
                <!--<th><span jhiTranslate="ticketsApp.order.clientId">Order Date</span></th>-->
                <th><span jhiTranslate="ticketsApp.order.orderDate">Order Date</span></th>
                <th><span jhiTranslate="ticketsApp.order.isPaid">Is Paid</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let order of orders ;trackBy: trackId">
                <td>{{order.id}}</td>
                <td>{{order.orderDate | date:'medium'}}</td>
                <td>{{order.isPaid}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/history-tickets', order.id]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
